body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;   
    margin: 0;
}
.strength{
    text-align: center;
    width: 550px;
    height: 60px;
}
#passwordInput{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
